
<div [chart]="streamgraph">
    Streamgraph Chart
</div>

<div [chart]="sanky">
    chart target
</div>

<!--<div class="content">-->
    <!--<div echarts [loading]="loading" [options]="resourcesUtil" class="prio-chart my-chart"></div>-->
    <!--<div class="line-separator" [hidden]="showSep"></div>-->
<!--</div>-->

<!--<div [chart]="chart">-->
    <!--chart target-->
<!--</div>-->

<div class="content">
    <div echarts [options]="tree" class="prio-chart my-chart"></div>
    <div class="line-separator" [hidden]="showSep"></div>
</div>





<!--<div [chart]="parallel">-->
    <!--chart target-->
<!--</div>-->

<div [chart]="treemap">
    chart target
</div>



