<!--<div class="sidenav">-->
    <!--<mat-sidenav-container class="example-container">-->
        <!--<div ></div>-->
        <!--<p class ="side-nav-item">Thread Summary</p>-->
        <!--<div class="line-separator" [hidden]="showSep"></div>-->
        <!--<p class ="side-nav-item">Methods Used</p>-->
        <!--<div class="line-separator" [hidden]="showSep"></div>-->
        <!--<p class ="side-nav-item" (click)="onLinkClick('deadlocks')">Deadlocks</p>-->
    <!--</mat-sidenav-container>-->
<!--</div>-->

<div id="content" class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
    <div class="demo-crumbs mdl-color-text--grey-500">
        Dynatrace &gt; Thread Analysis &gt; Thread Monitoring Graphs
    </div>
    <h3>Thread Monitoring Graphs</h3>

    <router-outlet class="content"></router-outlet>
</div>
